@use "../../../assets/styles/common" as *;
@use "../../../assets/styles/main.scss" as *;

.callToAction {
  overflow: hidden;
  position: relative;
  padding: 0rem 1rem;

  @include isMediaTablet() {
    padding: 0rem 2.5rem;
    margin: 6.25rem 0rem;
    overflow: visible;
  }

  @include isMediaDesktop() {
    padding: 0rem 10.375rem;
  }

  h1 {
    font-size: $font-size-40;
    font-weight: $font-weight-extrabold;
    color: $color-primary-darkblue;
  }

  p {
    color: $color-neutral-grey;
    font-weight: $font-weight-medium;
    line-height: $line-height-26;
  }

  button {
    display: block;
    background: $color-gradient-orangepink;
    color: $color-neutral-white;

    @include isMediaTablet() {
      width: 10.688rem;
    }

    &:hover {
      background: $color-gradient-orangepink-hover;
    }
  }

  &__container {
    &__imgHero {
      &__mobile {
        display: block;
      }

      &__tablet,
      &__desktop {
        position: absolute;
      }

      &__tablet {
        display: none;
        right: -36%;
        top: -67%;
      }
    }
  }

  @include isMediaTablet() {
    &__container {
      display: flex;

      &__text {
        width: 398px;
        height: 384px;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__imgHero {
        &__mobile {
          display: none !important;
        }

        &__tablet,
        &__desktop {
          position: absolute;
        }

        &__tablet {
          display: block;
          right: -36%;
          top: -67%;
        }
      }
    }
  }
}
