@use "../../../assets/styles/common" as *;
@use "../../../assets/styles/main.scss" as *;

.callToAction {
  overflow: hidden;
  h1 {
    font-size: $font-size-40;
    font-weight: $font-weight-extrabold;
    color: $color-primary-darkblue;
  }

  p {
    color: $color-neutral-grey;
    font-weight: $font-weight-medium;
    line-height: $line-height-26;
  }

  button {
    display: block;
    background: $color-gradient-orangepink;
    color: $color-neutral-white;

    &:hover {
      background: $color-gradient-orangepink-hover;
    }
  }
}
