@use "../../../assets/styles/common" as *;
@use "../../../assets/styles/main.scss" as *;

.footer {
  background: $color-primary-darkblue;
  padding: 2.25rem 2.5rem !important;

  button {
    background: $color-gradient-bluepink;
    color: $color-neutral-white;

    &:hover {
      background: $color-gradient-bluepink-hover;
    }
  }
}
