@use "../../../assets/styles/common" as *;
@use "../../../assets/styles/main.scss" as *;

.courses {
  position: relative;
  background: $color-gradient-whitegrey;
  padding-bottom: 5rem;

  h2 {
    background: $color-gradient-orangepink;
    color: $color-neutral-white;
  }

  &__animation,
  &__design,
  &__photography,
  &__crypto,
  &__business {
    background-color: $color-neutral-white;

    svg,
    img {
      position: absolute;
    }

    h3 {
      font-size: $font-size-20;
      font-weight: $font-weight-extrabold;
    }

    p {
      font-weight: $font-weight-medium;
      line-height: $line-height-26;
    }

    button {
      color: $color-primary-darkpink;
      font-size: $font-size-18;
      font-weight: $font-weight-bold;
      line-height: $line-height-28;
    }
  }

  &__animation {
    &__iconAnimation {
      top: 8%;
    }
  }

  &__design {
    &__iconDesign {
      top: 25%;
    }
  }

  &__photography {
    &__iconPhotography {
      top: 43%;
    }
  }

  &__crypto {
    &__iconCrypto {
      bottom: 36%;
    }
  }

  &__business {
    &__iconBusiness {
      bottom: 18%;
    }
  }
}
