$border-radius-00: 0;
$border-radius-04: 0.25rem; //4px
$border-radius-05: 0.313rem; //5px
$border-radius-08: 0.5rem; //8px
$border-radius-12: 0.75rem; //12px
$border-radius-15: 0.938rem; //15px
$border-radius-25: 1.563rem; //25px
$border-radius-28: 1.75rem; //28px
$border-radius-40: 2.5rem; //40px
$border-radius-100: 6.25rem; //100px
