/* Font sizes */
$font-size-11: 0.688rem; // 11px
$font-size-12: 0.75rem; // 12px
$font-size-14: 0.875rem; // 14px
$font-size-18: 1.125rem; // 18px
$font-size-24: 1.5rem; //24px
$font-size-28: 1.75rem; //28px
$font-size-36: 2.25rem; //36px
$font-size-40: 2.5rem; //40px
