/* Line-heights */

$line-height-20: 1.25rem; //20px
$line-height-24: 1.5rem; // 24px
$line-height-28: 1.75rem; // 28px
$line-height-32: 2rem; // 32px
$line-height-36: 2.25rem; // 36px
$line-height-40: 2.5rem; // 40px
$line-height-44: 2.75rem; // 44px
$line-height-48: 3rem; // 48px
$line-height-56: 3.5rem; // 56px
